.img-container {
  border-radius: 2px;
  height: 200px;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  overflow: hidden;
  background: #6caddc;
}
.img-container > img {
  overflow: hidden;
  height: 200px;
}

.img-container:hover {
  border: 2px solid white;
  cursor: pointer;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
