.main-container {
  padding-top: 5px;
  color: #ccff15;
  background-image: url('./backgroundRM.jpg');
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  height: 100%;
  padding: 0 70px 50px;
  overflow: auto;
}
